.home-container {
  display: flex;
  height: 100vh;
  text-align:center;
}

.content {
  flex-grow: 1;
  text-align: left;
  height: calc(100% - 64px); /* Fill the height below the AppBar */
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 64px;
  justify-content: center; /* Vertically center the content */
  align-items: center;
}

.content h4{
  text-align: left;
  margin-left: 280px;
  margin-top: 1rem;
}

.content h5{
  text-align: left;
  margin-left: 280px;
  margin-top: 1rem;
}